%h3
  Остатки в
  %b= @city.russian
  по
  =icn(@product.icon)
  =@product.russian
%table
  %tbody
    - @districts.each do |d|
      %tr
        %td{width: '40%'}
          = d[:entity_russian]
        %td{width: '30%'}
          - dist = District[d[:entity_id]]
          - cnt = Rest.find(district: dist.id, product: @product.id, bot: hb_bot.id)
          = kladov(cnt.items)
